---

---

<div class="screen">
  <textarea id="math-input">1+1</textarea>
  <textarea id="math-output" readonly>2</textarea>
</div>

<script>
  import { mathToDisplayCharacters } from "../../helpers";

  const mathInput = document.getElementById(
    "math-input",
  ) as HTMLTextAreaElement;
  const mathOutput = document.getElementById("math-output") as HTMLInputElement;

  mathInput.addEventListener("input", () => {
    replaceCharacters(mathInput);
    resizeTextAreaFont(mathInput);
    mathOutput.value = "";
  });

  mathOutput.addEventListener("input", () => {
    replaceCharacters(mathInput);
    resizeTextAreaFont(mathInput);
  });

  function replaceCharacters(textarea: HTMLTextAreaElement) {
    textarea.value = mathToDisplayCharacters(textarea.value);
  }

  function resizeTextAreaFont(textarea: HTMLTextAreaElement) {
    textarea.style.fontSize = "";

    const height = textarea.clientHeight;
    let scrollHeight = textarea.scrollHeight;
    const fontSize = window
      .getComputedStyle(textarea)
      .getPropertyValue("--fontSize");
    let scale = 1;

    while (scrollHeight > height) {
      scale -= 0.05;
      textarea.style.fontSize = `calc(${scale} * ${fontSize})`;
      scrollHeight = textarea.scrollHeight;
    }
  }
</script>

<style>
  .screen {
    --screenPadding: calc(var(--buttonBorderRadius) / 2);
    --fontSize: calc(var(--buttonSize) / 1.5);
    --oneLineWithPadding: calc(1.2 * var(--fontSize) + var(--screenPadding));

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    min-height: calc(2 * var(--oneLineWithPadding));
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: calc(var(--calculatorGap));
    border-radius: var(--buttonBorderRadius);
    box-shadow:
      inset var(--shadowOffset) var(--shadowOffset) var(--blurRadius)
        var(--darkShadowColor),
      inset calc(var(--shadowOffset) * -1) calc(var(--shadowOffset) * -1)
        var(--blurRadius) var(--lightShadowColor);
  }

  .screen > textarea {
    width: 100%;
    min-height: var(--oneLineWithPadding);
    box-sizing: border-box;
    margin: 0px;
    padding: var(--screenPadding);
    text-align: right;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: var(--fontSize);
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #math-input {
    flex-grow: 1;

    color: inherit;

    border-top-left-radius: calc(var(--buttonBorderRadius));
    border-top-right-radius: calc(var(--buttonBorderRadius));

    padding-bottom: 0;
  }

  #math-output {
    height: var(--oneLineWithPadding);

    color: #1976d2;

    border-bottom-left-radius: calc(
      var(--buttonBorderRadius) - var(--shadowOffset)
    );
    border-bottom-right-radius: calc(
      var(--buttonBorderRadius) - var(--shadowOffset)
    );

    padding-top: 0;
  }

  @media (prefers-color-scheme: dark) {
    #math-output {
      color: #2196f3;
    }
  }
</style>
