---
import Logo from "./Logo.astro";
---

<div class="top-bar">
  <div class="left">
    <Logo class="logo" />
    <div class="name">
      <div class="calc">CalcGPT</div>
      <div class="calvin">
        by <a href="https://calvin.sh" target="_blank" rel="noopener noreferrer"
          >Calvin Liang</a
        >
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .top-bar {
    margin: var(--calculatorGap) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 461px) {
      margin: var(--calculatorGap);
    }

    > .left {
      display: flex;
      align-items: center;

      > .logo {
        height: calc(var(--buttonSize) * 0.4);
      }

      > .name {
        margin-left: 0.5rem;

        > .calc {
          font-size: calc(var(--buttonSize) * 0.3);
          line-height: 1;
          font-weight: 700;
        }

        > .calvin {
          font-size: calc(var(--buttonSize) * 0.1);
          line-height: 1;
          opacity: 0.8;
        }
      }
    }
  }
</style>
