---
import globeSvg from "./globe.svg?raw";
import Logo from "./Logo.astro";
---

<div class="top-bar">
  <div class="left">
    <Logo class="logo" />
    <span>CalcGPT</span>
  </div>
  <div class="right">
    <div>
      by <a href="https://calvin.sh" target="_blank" rel="noopener"
        >Calvin Liang</a
      >
    </div>
    <div>
      <span class="icon" set:html={globeSvg} />
      <a href="https://calvin.sh" target="_blank" rel="noopener">calvin.sh</a>
    </div>
  </div>
</div>

<style lang="scss">
  .top-bar {
    margin: var(--calculatorGap) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 461px) {
      margin: var(--calculatorGap);
    }

    > .left {
      display: flex;
      align-items: center;

      > .logo {
        height: calc(var(--buttonSize) * 0.4);
      }

      > span {
        font-size: calc(var(--buttonSize) * 0.4);
        line-height: 1;
        font-weight: 700;
        margin-left: 0.5rem;
      }
    }

    > .right {
      font-size: calc(var(--buttonSize) * 0.15);
      line-height: 1.3;

      .icon {
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;
        fill: currentColor;
      }
    }
  }
</style>
