---
import Logo from "./Logo.astro";
---

<div class="top-bar">
  <div class="left">
    <Logo class="logo" />
    <span>CalcGPT</span>
  </div>
</div>

<style lang="scss">
  .top-bar {
    margin: var(--calculatorGap) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 461px) {
      margin: var(--calculatorGap);
    }

    > .left {
      display: flex;
      align-items: center;

      > .logo {
        height: calc(var(--buttonSize) * 0.4);
      }

      > span {
        font-size: calc(var(--buttonSize) * 0.4);
        font-weight: 700;
        margin-left: 0.5rem;
      }
    }
  }
</style>
