---
import Calculator from "../components/Calculator/Calculator.astro";
import DescriptionCard from "../components/DescriptionCard.astro";
import Footer from "../components/Footer.astro";
import { colorLuminance } from "../helpers";
import Layout from "../layouts/Layout.astro";

const lightBackgroundColor = "#ecf0f3";
const darkBackgroundColor = "#02192b";

const lightTextColor = "#081B2D";
const darkTextColor = "#F4F9FD";

// light theme
const lightColorDifference = 0.15;
const darkLightShadowColor = colorLuminance(
  lightBackgroundColor,
  lightColorDifference * -1,
);
const lightLightShadowColor = colorLuminance(
  lightBackgroundColor,
  lightColorDifference,
);

// dark theme
const darkColorDifference = 0.9;
const darkDarkShadowColor = colorLuminance(
  darkBackgroundColor,
  darkColorDifference * -1,
);
const lightDarkShadowColor = colorLuminance(
  darkBackgroundColor,
  darkColorDifference,
);
const colors = {
  lightBackgroundColor,
  darkBackgroundColor,
  lightTextColor,
  darkTextColor,
} as const;
---

<Layout title="CalcGPT" {...colors}>
  <main>
    <section>
      <Calculator {...colors} />
    </section>
    <section>
      <DescriptionCard />
    </section>
    <footer>
      <Footer />
    </footer>
  </main>

  <style
    lang="scss"
    define:vars={{
      lightLightShadowColor,
      darkLightShadowColor,

      lightDarkShadowColor,
      darkDarkShadowColor,
    }}
  >
    main {
      --calculatorWidth: 400px;

      @media (max-width: 460px) {
        --calculatorWidth: 100lvw;
      }

      --borderRadius: calc(var(--buttonBorderRadius) + var(--calculatorGap));
      --calculatorGap: calc(var(--calculatorWidth) / 25);

      --buttonGridWidth: calc(
        var(--calculatorWidth) - var(--calculatorGap) * 2
      );

      --buttonSize: calc(
        (var(--buttonGridWidth) - var(--calculatorGap) * 3) / 4
      );
      --buttonBorderRadius: calc(var(--buttonSize) / 2);

      --shadowOffset: calc(var(--buttonSize) / 25);
      --blurRadius: calc(var(--shadowOffset) * 2);

      --darkShadowColor: var(--darkLightShadowColor);
      --lightShadowColor: var(--lightLightShadowColor);

      @media (prefers-color-scheme: dark) {
        --darkShadowColor: var(--darkDarkShadowColor);
        --lightShadowColor: var(--lightDarkShadowColor);
      }

      margin: auto;
    }
  </style>
</Layout>
