---
import { Picture } from "astro:assets";
import pfp from "./pfp.png";
---

<div id="footer">
  <a class="personal-logo-link" href="https://calvin.sh" target="_blank">
    <Picture
      src={pfp}
      alt="Calvin Liang"
      class="personal-logo"
      loading="lazy"
      decoding="async"
      formats={["avif"]}
      fallbackFormat="jpeg"
      sizes="2rem"
      widths={[25, 50, 100]}
    />
  </a>
  <div class="text">
    Made with <span role="img" aria-label="laughter">🤣</span> by
    <a href="https://calvin.sh" target="_blank">Calvin Liang</a>
  </div>
  <div class="text">
    <a
      href="https://github.com/Calvin-LL/CalcGPT"
      target="_blank"
      rel="noopener noreferrer"
    >
      View on GitHub
    </a>
  </div>
</div>

<style lang="scss">
  #footer {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .text {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      opacity: 0.8;
    }

    & > .personal-logo-link {
      img {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }
    }
  }
</style>
